flask==2.3.3
flask-limiter==3.5.0
gunicorn==20.1.0
torch==2.5.1
torchvision==0.20.1
pillow==11.1.0
numpy==1.26.4
safetensors==0.4.5
einops==0.8.1
opencv-python==4.10.0.84
scipy==1.15.2
requests==2.32.3
